.bannerDiv{
    height: 20rem;
    position: relative;
    background-image: url('https://res.cloudinary.com/dnkqy2kkr/image/upload/v1737121986/banner_rzq0ms.jpg');
    background-size: cover;
    background-position: center;
}

.bannerBtn{
    position: absolute;
    bottom: 20%;
    left: 5%;
    padding: 15px;
    background-color: #2C2C2C;
    color: white;
    border-radius: 20px;
    border: none;
    transition: 0.4s;
    text-decoration: none;
}

.bannerBtn:hover{
    background-color: white;
    color: black
}

