.watermarkDiv{
    position: fixed;
    bottom: 0px;
    background-color: #2C2C2C;
    width: 100vw;
    /* padding: 12px; */
    padding-top: 10px ;
    padding-bottom: 10px;
    text-align: center;
}

.watermarkSpan{
    color: white;
    opacity: 0.5;
}

